
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iStock Sample Project</title>    

</head>

<body>

    <div class="brand">iStock</div>

    <div class="container">

        <div class="row">
            <div class="box min_h">
                
                <div class="col-xs-12 col-sm-2 text-center">
                    <div class="entry-meta">
                        <span><%= @article.created_at.strftime("%Y %B %d, %H:%M:%S") %></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    
                    <h2 class="text-center"><%= @article.title.html_safe %></h2>

                    <p><%= @article.body.html_safe %></p>

                    <h4>Comments</h4>
                    
                     <div id="comments">

                            
                    <%= render :partial => 'comments/comment', :collection => @article.comments %>


                     </div>
                    
                     
                     <% if user_signed_in? %>
                         <%= form_for([@article, Comment.new], :remote => true) do |f| %>
                                <p>
                                        <%= f.label :body, "New comment" %><br/>
                                        <%= f.text_area :body, type:"text", tabindex: "6", class: "form-control",  placeholder: 'your comment', rows: "4", required: true  %>
                                </p>
                                <p><%= f.submit "Add comment" %></p>
                        <% end %>


                    <% end %>

                    
                    
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

   

</body>

</html>
